$white: #ffffff;
$black: #000000;
$darkGray: #3b3e48;
$lightGray: #262b31;
$lightGray2: #c4c7cf;
$lightGray3: #dde0e4;

$middleGray: #494f5c;
$blackGray: #282c34;
$blackGray2: #2f333d;

$grayText: #d5d9e1;
$orange: #ef9943;
$green: #e6ff99;

$placholder: #a0a6b1;
