@import "styles/variables.scss";

.home-page {
    text-align: center;

    a {
        transition: all 200ms ease 0s;
    }

    .bgImage {
        z-index: -1;
        position: fixed;
        background: url("/images/bg.jpg") 50% / cover no-repeat;
        width: 100%;
        height: 100vh;
    }

    .pinkLine {
        width: 100%;
        height: 2px;
        margin: 1.25rem 0;
        background: linear-gradient(to right, rgba(215, 104, 137, 0) 0%, #d76889 50%, rgba(215, 104, 137, 0) 100%);
    }

    .header {
        background: linear-gradient(to bottom, rgba(215, 104, 137, 0.7) 0%, rgba(215, 104, 137, 0) 100%);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        padding: 20px 0 20px 0;
        transition: 350ms all 0s ease;

        &:after {
            transition: 350ms all 0s ease;
            opacity: 0;
            background: linear-gradient(
                to right,
                rgba(215, 104, 137, 0) 0%,
                rgba(215, 104, 137, 0.7) 50%,
                rgba(215, 104, 137, 0) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d76889', endColorstr='#d76889', GradientType=1 );
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            content: "";
            display: block;
        }

        &.active {
            padding: 10px 0px;

            &:after {
                opacity: 1;
            }
        }

        .navBar {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .menuBtn {
                position: relative;
                z-index: 1;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: 350ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);

                div {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    transition: 350ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    opacity: 0;
                    transform: scale(0.3);
                }

                .menu {
                    background: url("/images/menu.svg") 50% 50%/20px no-repeat;

                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                .close {
                    background: url("/images/close.svg") 50% 50%/20px no-repeat;

                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            .tggLogo {
                width: 200px;
                display: flex;
                text-decoration: none;

                padding-right: 15px;
                padding-left: 15px;

                > img {
                    max-width: 100%;
                }
            }

            .midSection {
                display: flex;

                .midBtn {
                    text-decoration: none;
                    font-size: 1.05rem;
                    color: #fff;
                    padding: 8px 15px;
                    line-height: 1;
                    margin: 0 1rem;
                    text-shadow: 0 0 3px rgb(0 0 0 / 50%);

                    &:hover {
                        box-shadow: 0 0 0 2px #fff;
                    }

                    &.active {
                        box-shadow: 0 0 0 2px #fff;
                    }
                }

                @media (max-width: 992px) {
                    display: none;
                }

                &.active {
                    @media (max-width: 992px) {
                        background-color: rgba(215, 104, 137, 0.95);
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        padding-top: 55px;

                        .midBtn {
                            font-size: 1.25rem;
                            margin: 0;
                            padding: 15px;
                            margin: 15px;
                        }
                    }
                }
            }

            .right-section {
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                margin-right: -5px;
                margin-left: -5px;

                .col {
                    padding-right: 5px;
                    padding-left: 5px;
                }

                .btn-lang {
                    cursor: pointer;
                    display: inline-block;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 50px;
                    padding: 7px 5px;
                    color: #fff;
                    border: none;

                    span {
                        padding: 0 5px;
                    }

                    img {
                        width: 22px;
                    }

                    .text {
                        color: #fff;
                        font-size: inherit;
                    }
                }

                .loginBtn {
                    padding-right: 5px;
                    padding-left: 5px;
                    background-color: #fff;
                    color: #d76889;
                    border-radius: 50px;
                    padding: 5px 15px;
                    font-weight: 500;
                    font-size: 1rem;

                    &:hover {
                        filter: brightness(120%);
                    }
                }
            }
        }
    }

    .emptySection {
        opacity: 0;
        height: 100vh;
    }

    .bannerImage {
        width: 100%;
        margin-bottom: 40px;
    }

    .fixBannerImage {
        background: url("/images/herobanner.jpg") 50% / cover no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
    }

    .bgOpacity {
        background: -webkit-linear-gradient(top, rgba(215, 104, 137, 0) 0%, rgba(193, 191, 192, 0.9) 100%);
        display: block;
        width: 100%;
        height: 70%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .textWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 1.95rem;
            color: #d76889;
            line-height: 1.4;
            text-shadow: 1px 1px 3px #f7cdda, 1px 1px 2px #f7cdda;
            font-weight: 600;
        }

        .introContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;

            .text1 {
                font-size: 1.65rem;
                color: #d76889;
                line-height: 1.4;
                text-shadow: 1px 1px 3px #f7cdda, 1px 1px 2px #f7cdda;
                font-weight: 700;
            }

            .text2 {
                font-size: 1.25rem;
                color: #212529;
                line-height: 1.4;
                text-shadow: 0 0 8px rgb(255 255 255 / 80%);
                font-weight: 600;
                margin: 1rem 0;
            }

            .youtube-video {
                background: #000 url("/images/loading.svg") 50% 50%/48px auto no-repeat;
                border-radius: 10px;
                overflow: hidden;
            }
        }

        .dateContainer {
            padding-top: 3rem;

            .dateItem {
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0 0 8px rgb(0 0 0 / 10%);
                border-radius: 8px;
                margin-bottom: 1rem;

                .ticketText {
                    font-size: 1.25rem;
                    font-weight: 500;
                    text-align: left;
                    margin: 1rem 0;
                }
            }

            .btnMain {
                background-color: #d76889;
                color: #fff;
                text-align: center;
                display: block;
                cursor: pointer;
                padding: 10px 20px;
                border-radius: 6px;
            }

            .btnMain[disabled] {
                background-color: #ccc;
                color: #777;
                cursor: pointer;
            }
        }

        .pre-sale {
            font-size: 1.05rem;
        }

        .hv-img-zoom {
            cursor: pointer;
            display: block;
            position: relative;
            overflow: hidden;

            > img {
                transition: all 200ms ease 0s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .place-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
